# This is the main configuration file of your Dancer2 app
# env-related settings should go to environments/$env.yml
# all the settings in this file will be loaded at Dancer's startup.

# Your application's name
appname: "Lenio"

# The default layout to use for your application (located in
# views/layouts/main.tt)
layout: "main"

# when the charset is set to UTF-8 Dancer2 will handle for you
# all the magic of encoding and decoding. You should not care
# about unicode within your app when this setting is set (recommended).
charset: "UTF-8"

template: "template_toolkit"

session: "YAML"
 
lenio:
  emailtemplate: "/usr/share/nginx/lenio/email"
  dateformat: "%x"
  email_from: '"Email from" <from@example.com>' # "from" header
  email_sender: 'sender@example.com' # "sender", if different
  invoice:
    autonumber: 0
    prefix: PM
    logo: public/images/BC_logo.jpg
    company: My Company
    address: |
      My Street
      My Town
      AB12 3BC

      Office: 123456
      Mobile: 123456
    payment: |
      BACS payments to:
      My Bank
      Sort Code: 12-34-56
      Acc No: 12345678
      Please quote invoice number on all payments
      
      Cheques made payable to:
      My Company Ltd
    footer: >
      In accordance with our Standard Terms of Business this account is payable
      within 14 days of the date of this invoice.
    footer_left: My Company Ltd - Company Number 123456
    footer_right: "VAT Registration Number: 123456"
    sla_notes: |
      1. This is SLA note 1
      2. This is SLA note 2

engines:
  session:
    YAML:
      session_dir: "/tmp/dancer-sessions"
      cookie_duration: 7200
      cookie_name: lenio.session
      is_secure: 1

plugins:
  DBIC:
    default:
      dsn: dbi:mysql:database=lenio;mysql_enable_utf8=1;host=localhost
      schema_class: Lenio::Schema
      user: lenio
      pass: lenio
      options:
        RaiseError: 1
        PrintError: 1
        quote_names: 1
        mysql_enable_utf8: 1
  Auth::Extensible:
    mailer:
      module: Mail::Message
      options:
        via: sendmail
    reset_password_handler: 1
    password_generator: Lenio::password_generator
    mail_from: '"Bradbury Consulting" <info@bradbury-consulting.co.uk>'
    login_page_handler: Lenio::login_page_handler
    no_login_handler: 1
    exit_page: '/'
    realms:
      dbic:
        provider: DBIC
        users_table: login
        roles_table: permission
        user_roles_table: login_permission
        roles_role_column: name
        roles_key: permission
        users_pwresetcode_column: pwdreset
        encryption_algorithm: SHA-512
        user_valid_conditions:
          deleted: ~

